* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--very-dark-blue: hsl(217, 54%, 11%);
	--very-dark-blue2: hsl(216, 50%, 16%);
	--very-dark-blue3: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}

body {
	background-color: var(--very-dark-blue);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
	background-color: var(--very-dark-blue2);
	width: 80vw;
	margin: 40px auto;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 15px 15px 10px var(--very-dark-blue);
}

.hero-container {
	position: relative;
}

.hero {
	width: 100%;
	height: 300px;
	border-radius: 15px;
}

.overlay {
	background-color: cyan;
	position: absolute;
	top: 0;
	border-radius: 15px;
	width: 100%;
	height: 300px;
	opacity: .5;
	display: none;
	z-index: 1;
}

.view-container {
	position: absolute;
	width: 100%;
	height: 300px;
	display: none;
}

.view {
	width: 50px;
	height: 50px;
	 background-repeat: no-repeat;
	 margin: -30vh 30vw;
	 position: absolute;
	 z-index: 999;
}

.hero-container:hover {
	cursor: pointer;
}

.hero-container:hover > .overlay, .hero-container:hover > .view-container {
	display: block;
}

.container h1 {
	color: var(--white);
	padding: 20px 0;
	font-size: 1.5em;
}

.container h1:hover {
	cursor: pointer;
	color: var(--cyan);
}

.container p {
	color: var(--soft-blue);
	line-height: 1.8;
}

.nft-pay-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 20px;
}

.icon {
	width: 15px;
	height: 15px;
	margin-right: 8px;
}

.icon.ethereum {
	height: 17px;
}

.price {
	color: var(--cyan);
}

.expires {
	color: var(--soft-blue);
	padding-left: 10px;
}

.author-info {
	display: flex;
	gap: 20px;
	padding: 20px 0 0;
	border-top: 1px solid #8bacda3d;
}

.author span {
	color: var(--white);
}

.author span:hover {
	cursor: pointer;
}

.author-pic img {
	width: 35px;
	height: 35px;
	border: 1px solid var(--white);
	border-radius: 50%; 
}

@media screen and (min-width: 768px) {
	.container {
		width: 350px;
	}

	.view {
		 margin: -170px 120px;
		}
}